Repository banhidaimatyas/R6-Fanpage, pull requests merged in 2025-02, with the labels that each got.

#16 Főoldal (css, html), footer minden oldalon
  Fonts/Roboto_SemiCondensed-Regular.ttf
  Images/aboutus.jpg
  Images/esport.jpeg
  Images/facebook.png
  Images/github.png
  Images/instagram.png
  Images/operators.jpg
  Images/oregon.jpg
  Images/oregon_basement.jpg
  Images/quiz.jpg
  Images/seasons.jpg
  about_us.html
  esport.html
  game_show.html
  guesser.html
  index.html
  operator.html
  seasons.html
  style.css
Labels: CSS

#22 index javascript, footer.js
  Css/style.css
  about_us.html
  esport.html
  game_show.html
  guesser.html
  index.html
  javascript/footer.js
  javascript/index.js
  operator.html
  seasons.html
Labels: JS

#31 28 kvíz cuccai
  Css/quiz.css
  Images/Ranks/bronze.png
  Images/Ranks/champion.png
  Images/Ranks/copper.png
  Images/Ranks/diamond.avif
  Images/Ranks/emerald.avif
  Images/Ranks/gold.png
  Images/Ranks/platinum.png
  Images/Ranks/silver.png
  Images/quiz_background.jpg
  Images/quiz_background2.jpg
  javascript/footer.js
  javascript/quiz.js
  quiz.html
Labels: quiz

#35 33 kvíz javítása
  Css/quiz.css
  Images/clock.png
  README.md
  about_us.html
  esport.html
  game_show.html
  guesser.html
  index.html
  javascript/quiz.js
  operator.html
  quiz.html
  seasons.html
Labels: quiz
