Repository banhidaimatyas/R6-Fanpage, pull requests merged in 2025-03, with the labels that each got.

#54 Guesser jobb, dropdown menu elöl
  Css/guesser.css
  Css/style.css
Labels: CSS, R6 guessr

#55 34-es branch adatainak átvitele
  Css/game_show.css
  game_show.html
Labels: Main HTML, CSS

#63 operátor választó menü reszponzivítása
  Css/operator.css
Labels: bug, CSS

#66 képek cserélése, carouslehez hozzáadva mégegy
  Images/Game_show/2.webp
  Images/Game_show/8.jpg
  Images/Game_show/attackers.webp
  Images/Game_show/defenders.png
  Images/attackers.png
  game_show.html
Labels: bug
